ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
NEXUSAUTH_CONNECTION_STRINGS_DEFAULT=Host=db;Port=5432;Database=nexusauth;Username=nexusauth;Password=REPLACE_WITH_DATABASE_PASSWORD;Search Path=nexusauth
NEXUSAUTH_JWT_ISSUER=http://localhost:5100
NEXUSAUTH_JWT_SIGNING_MODE=Certificate
NEXUSAUTH_JWT_SIGNING_PATH=
NEXUSAUTH_JWT_SIGNING_PASSWORD=REPLACE_WITH_SIGNING_PASSWORD
NEXUSAUTH_SMTP_ENABLED=false
NEXUSAUTH_SMTP_HOST=smtp.qq.com
NEXUSAUTH_SMTP_PORT=465
NEXUSAUTH_SMTP_SECURITY=SslOnConnect
NEXUSAUTH_SMTP_USERNAME=sender@qq.com
NEXUSAUTH_SMTP_PASSWORD=REPLACE_WITH_SMTP_AUTHORIZATION_CODE
NEXUSAUTH_SMTP_FROM_ADDRESS=sender@qq.com
NEXUSAUTH_SMTP_FROM_NAME=NexusAuth
NEXUSAUTH_BOOTSTRAP_ADMIN_USERNAME=admin
NEXUSAUTH_BOOTSTRAP_ADMIN_PASSWORD=REPLACE_WITH_ADMIN_PASSWORD
