ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
NEXUSAUTH_WORKBENCH_GATEWAY_ENABLED=false
NEXUSAUTH_WORKBENCH_CONNECTION_STRINGS_DEFAULT=Host=db;Port=5432;Database=nexusauth;Username=nexusauth;Password=REPLACE_WITH_DATABASE_PASSWORD;Search Path=nexusauth
NEXUSAUTH_WORKBENCH_AUTH_AUTHORITY=http://localhost:5100
NEXUSAUTH_WORKBENCH_AUTH_CLIENT_SECRET=REPLACE_WITH_WORKBENCH_CLIENT_SECRET
NEXUSAUTH_WORKBENCH_AUTH_REDIRECT_URI=http://localhost:5560/signin-oidc
NEXUSAUTH_WORKBENCH_AUTH_POST_LOGOUT_REDIRECT_URI=http://localhost:5560/
NEXUSAUTH_WORKBENCH_BOOTSTRAP_RESOURCE_NAME=nexusauth.workbench.api
NEXUSAUTH_WORKBENCH_BOOTSTRAP_RESOURCE_DISPLAY_NAME=NexusAuth Workbench API
NEXUSAUTH_WORKBENCH_BOOTSTRAP_CLIENT_NAME=NexusAuth Workbench
